# PM data
players/*
worlds/*
plugins/*
bin/*
timings/*
*.log
*.phar
server.properties
/pocketmine.yml
*.txt
genisys.yml
cavalados.yml
crashdumps/*

# Common IDEs
.idea/
nbproject/*
.vscode/*

# Windows image file caches
Thumbs.db

# Mac image file caches
.DS_Store
/nbproject/private/

# Sphinx-doc
/docs/build/
!/docs/requirements.txt
.project
